#mydiv {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s; position:absolute;
}

#mydiv:hover {/*opacity: 0.7;*/}

/* The modalgd (background) */
.modalgd {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
   /**** z-index: 1; ****//* Sit on top */
    /*padding-top: 100px;*/ /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
	padding-top:95px;   z-index:999;
}

/* modalgd Content (image) */
.modalgd-content {
    margin: auto;
    display: block;
   /* width: 80%;
    max-width: 700px;*/
	 width:60%;
    max-width:500px;
}

/* Caption of modalgd Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 500px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modalgd-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close { opacity: 2.0;
	top:0px;
	 margin-top: -10px;
    /*position: absolute;
     
	right:527px;*/
    color: #000 !important;
    font-size: 40px;
   /* font-weight: bold;
    transition: 0.3s;
	z-index:-999;
	 top:224px;*/
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
.chg-pw{width:100%; border:solid 1px #ccc; margin-bottom:10px; padding:10px; height:40px;}

/* 100% Image Width on Smaller Screens */
.chn-btn{background-color:#16b9dd; padding:2px 20px !important; border:solid 1px #16b9dd; color:#fff !important; font-weight:600;}

@media only screen and (max-width: 700px){
    .modalgd-content {
        width: 100%;
    }
  .close {
    position: absolute;
   /**** top: 219px;***/
	  opacity: 2.0;
    right: 4px;
	      top: 4px;
	   margin-top:0px;
}
}
.input-group{width:100%;}
.site-button1{background-color:#00bbd4; padding:5px 20px; color:#fff;}